@import url("app.css");

.doctors {
  margin-bottom: 5rem;
}

.doctors-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3rem;
  width: 100%;
}

/* Ensure the doctor section's title and container spacing */
.page-heading {
  margin-bottom: 2rem; /* Adjust this value to align with the spacing used in other sections */
  font-size: 2rem;
  font-weight: 700;
  text-align: center; /* Center-align title */
}
