footer {
  background-color: #cfe1f3; /* A slightly darker shade than the light blue */
  padding: 1rem 0; /* Reduced height */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem; /* Padding for spacing */
}

.footer-info {
  color: var(--light-text-color);
  display: flex;
  align-items: center;
}

.footer-info p {
  margin: 0;
}

.footer-info p {
  font-weight: 600;
  color: var(--bold-text-color);
}

.social {
  display: flex;
  align-items: center;
}

.social ul {
  display: flex;
  gap: 1rem;
  padding: 0;
  list-style: none;
  margin: 0;
}

.social li {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue; /* Blue color for icons */
}

.social a:hover {
  font-weight: bold; /* Bold effect on hover */
}

.social svg {
  font-size: 1.3rem;
}

.facebook {
  background-color: #3b5998;
}

.instagram {
  background: linear-gradient(
    180deg,
    rgba(64, 93, 230, 1) 0%,
    rgba(131, 58, 180, 1) 25%,
    rgba(225, 48, 108, 1) 50%,
    rgba(245, 96, 64, 1) 75%,
    rgba(252, 175, 69, 1) 100%
  );
}

.youtube {
  background-color: #ff0000;
}
