/* Loading Container */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
}

/* Bouncing Dots Loader */
.loader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 6rem; /* Adjust size as needed */
}

.loader div {
  width: 1rem; /* Dot size */
  height: 1rem;
  border-radius: 50%;
  background-color: #002f61; /* Dot color */
  animation: bounce 1.5s infinite ease-in-out;
}

.loader div:nth-child(1) {
  animation-delay: 0s;
}

.loader div:nth-child(2) {
  animation-delay: 0.3s;
}

.loader div:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1.5rem); /* Adjust bounce height as needed */
  }
}
